.container-cart {
    width: 640px;
    margin: 20px auto 40px;
}
.nav-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: normal;
}
.nav-cart p {
    margin-bottom: 0;
}
.nav-cart a {
    color: #20863D;
}
.nav-cart a i {
    margin-left: 5px;
}
.nav-cart .user {
    color: #444;
    display: inline-flex;
    align-items: center;
    transition: 0.1s ease-in-out;
}
.nav-cart .user svg {
    margin-right: 5px;
}
.nav-cart .user:hover {
    color: #0a58ca;
}
.content-cart {
    background: #fff;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.product-cart {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr 1.5fr;
}
.product-cart1 {
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
}
.product-cart1 .box_gift {
    margin-top: 20px;
}
@media (max-width: 767px) {
    .product-cart1 .box_gift {
        margin-top: 0;
    }
}
.product-cart1 .box_gift .top_gift {
    display: grid;
    grid-template-columns: 101.45px 1fr;
}
.product-cart1 .box_gift .top_gift .title_gift {
    margin-left: 20px;
}
.product-cart1 .box_gift .top_gift .right_gift {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}
@media (max-width: 767px) {
    .product-cart1 .box_gift .top_gift {
        grid-template-columns: 65px 1fr;
    }
}
.product-cart1 .box_gift .item_gift {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 101.45px 1fr;
    padding-bottom: 10px;
}
.product-cart1 .box_gift .item_gift .left_gift {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
}
.product-cart1 .box_gift .item_gift .left_gift .left_item a {
    display: block;
    margin-bottom: 5px;
}
.product-cart1 .box_gift .item_gift .left_gift .left_item p span {
    display: inline-block;
    color: #000;
    font-weight: 700;
}
.product-cart1 .box_gift .item_gift .left_gift .left_item p:nth-of-type(1) span {
    font-weight: normal;
    color: #0a58ca;
}
@media (max-width: 767px) {
    .product-cart1 .box_gift .item_gift {
        grid-template-columns: 65px 1fr;
    }
}
.del-pro-link {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}
.del-pro-link svg {
    margin-right: 5px;
}
.del-pro-link:hover {
    color: red;
}
.del-pro-link:hover svg {
    fill: red;
}
.product-detail .product-name-cart {
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
    color: #000;
}
.product-detail .product-name-cart:hover {
    color: #0a58ca;
}
.product-detail .accessories h4 {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-bottom: 10px;
}
.product-detail .accessories ul li {
    display: none;
    padding-left: 20px;
    margin-bottom: 5px;
    background: url("../images/icon_check.svg") top 0 left 0 no-repeat;
}
.product-detail .accessories ul li:nth-of-type(1), .product-detail .accessories ul li:nth-of-type(2) {
    display: block !important;
}
.product-detail .accessories .view_more {
    color: #20863D;
    display: inline-block;
    cursor: pointer;
    margin: 5px 0 15px 0;
}
.product-detail .accessories .view_more i {
    margin-left: 5px;
}
.product-detail .box_color {
    position: relative;
}
.product-detail .box_color .select_color {
    display: inline-block;
    color: #20863D;
    cursor: pointer;
}
.product-detail .box_color .select_color i {
    margin-left: 5px;
}
.product-detail .box_color .list_sub_item {
    display: none;
    position: absolute;
    top: 20px;
    left: -35px;
    width: 210px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #d8d8d8;
    z-index: 1;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.product-detail .box_color .list_sub_item:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    transform: rotate(-45deg);
    position: absolute;
    display: block;
    top: -6px;
    left: 70px;
}
.product-detail .box_color .list_sub_item li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.product-detail .box_color .list_sub_item li img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
}
.product-detail .box_color .list_sub_item li span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #0a58ca;
    margin-left: 8px;
}
.product-detail .box_color .list_sub_item li.active {
    pointer-events: none;
}
.product-detail .box_color .list_sub_item li.active span {
    font-weight: bold;
}
.product-detail .box_color .list_sub_item li.poiter {
    pointer-events: none;
    opacity: 0.5;
}
.fee {
    text-align: right;
    margin-bottom: 20px;
}
.fee .price-item {
    color: red;
    margin-bottom: 5px;
}
.fee .old-price {
    text-decoration: line-through;
}
.total-price-products {
    padding: 20px;
    border-bottom: 1px solid #CCCCCC;
}
.total-price-products p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: normal;
}
.total-price-products p span {
    font-size: 16px;
}
.total-price-products p:last-child {
    margin-bottom: 0;
}
.total-price-products p:last-child span {
    color: #444;
}
.con {
    padding-left: 20px;
    background: url("../images/conhang.svg") top 1px left 0 no-repeat;
    color: #20863D;
    margin-left: 8px;
}
.chua {
    background: url("../images/hethang.svg") top 1px left 0 no-repeat;
    padding-left: 20px;
    color: #444444;
    margin-left: 8px;
}
.formPayment {
    padding: 20px;
}
.formPayment .h3_title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.formPayment label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
}
.formPayment label:last-child {
    margin-right: 0;
}
.formPayment label span {
    margin-left: 5px;
}
.formPayment label input {
    height: 15px;
    width: 15px;
    line-height: normal;
}
.formPayment label:hover {
    color: #2E6ED5;
}
.formPayment .company {
    margin-bottom: 0;
}
.formPayment .card_check {
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
}
.formPayment .row {
    margin: 0 -10px;
}
.formPayment .row .col-xs-12 {
    margin-bottom: 20px;
    padding: 0 10px;
}
.formPayment .row .col-xs-12:last-child {
    margin-bottom: 0;
}
.formPayment .row .col-xs-12 input {
    height: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 14px;
}
.input-header{
    height: 15px;
    width: 15px;
    line-height: normal;
}
.formPayment .row .col-xs-12 hr {
    margin-bottom: 20px;
    margin-top: 0;
}
input[type=radio], input[type=checkbox] {
    margin: 0;
}
.request_orther {
    padding: 20px 0;
}
.request_orther #note {
    height: 40px;
    padding: 5px 20px;
}
.tabReceive {
    background: #F0F0F0;
    border-radius: 3px;
    padding: 20px;
    position: relative;
    top: 10px;
}
.content {
    display: none;
}
#one:checked ~ .one,
#two:checked ~ .two{
    display: block;
}

#tab0:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 45px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #F0F0F0;
}
#tab0 .row_1 {
    margin: 0 -5px;
}
#tab0 .row_1 .pd1 {
    padding: 0 5px;
    margin-bottom: 10px;
}
#tab1:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 185px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #F0F0F0;
}

.bill_company {
    padding-top: 10px;
}
.btn-area .payment-btn {
    width: 100%;
    display: flex;
    border-radius: 3px;
    background: -webkit-linear-gradient(left, #442b19, #926b27);
    font-weight: bold;
    color: #fff;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    padding: 16px 10px;
    font-size: 16px;
    border: none;
}
.btn-area .payment-btn span {
    font-size: 14px;
    width: 100%;
    text-transform: none;
    font-weight: normal;
}
.btn-area p {
    margin: 12px 0;
    text-align: center;
}
.btn-area i {
    display: flex;
    margin-top: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn-area i svg {
    margin-right: 5px;
}
@media (max-width: 767px) {
    .container-cart {
        width: 100%;
    }
    .product-cart {
        padding: 10px;
        grid-gap: 10px;
    }
    .product-cart .product-image img {
        width: 65px;
        height: auto;
    }
    .formPayment {
        padding: 10px;
    }
    .formPayment .row .col-xs-12 {
        margin-bottom: 10px;
    }
    .formPayment .row .col-xs-6 {
        margin-bottom: 10px;
    }
    .tabReceive {
        padding: 10px;
    }
}
.visibleCart-xs{
    display: none;
}
@media (max-width: 600px) {
    .product-cart {
        grid-template-columns: 65px auto;
    }
    .product-cart .product-image {
        grid-area: 1/1/3/2;
    }
    .del-pro-link {
        display: flex;
        justify-content: center;
    }
    .fee {
        margin-bottom: 5px;
    }
    .quantity input {
        width: calc(100% - 80px);
    }
    .btn-area .payment-btn {
        font-size: 14px;
    }
    .btn-area i {
        line-height: normal;
        align-items: flex-start;
        text-align: left;
    }
    .product-image{
        padding: 0;
    }
    .form-select,.form-control{
        font-size: 14px!important;
    }
    .formPayment .row .col-xs-12 input,.request_orther #note{
        padding: 5px 10px;
    }
    .hiddenCart-xs{
        display: none;
    }
    .visibleCart-xs{
        display: block;
}
}

.quan {
    text-align: right;
}
.quan input {
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-top: none;
    border-bottom: none;
    width: 60px;
    height: 30px;
    color: #333333;
    font-size: 15px;
    box-shadow: none;
    border-radius: 0px;
    line-height: 22px;
    outline: none;
    text-align: center;
}
.quan input::-webkit-outer-spin-button, .quan input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.quan .number-input {
    display: inline-flex;
    position: relative;
    border: 1px solid #ededed;
    border-radius: 3px;
    background: #fff;
}
.quan button {
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
    background-color: unset;
}
.quan button:hover:before, .quan button:hover:after {
    background-color: #0a58ca;
}
.quan button:before, .quan button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 12px;
    height: 3px;
    background-color: #CCCCCC;
    transform: translate(-50%, -50%);
}
.quan button.plus {
    top: 0;
}
.quan button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.quan button.down {
    bottom: 0;
}
.total_end {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    margin: 0;
}
.total_end span {
    color: red;
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    .main-column {
        padding: 0;
    }
    .product-detail .top_detail {
        display: flex;
        justify-content: space-between;
    }
    .product-detail .top_detail .product-name-cart {
        font-size: 15px;
        margin-right: 10px;
    }
    .product-detail .price_detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product-detail .bh {
        margin-bottom: 15px;
    }
    .product-cart1 {
        padding: 0;
    }
}
.breadcrumbs {
    display: none;
}
@media (max-width: 960px) {
    #tab0 .row_1 .pd1 {
        padding: 0;
        width: 100%;
    }
    .formPayment label input {
        margin: 0;
    }
}
